# =========================
# Dataset（数据集）
# =========================
data/
dataset/

# FER2013 数据文件
fer2013.csv

# =========================
# 模型文件
# =========================
*.pth
*.pt
*.ckpt
*.onnx

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# 虚拟环境
# =========================
venv/
.venv/
env/
ENV/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# 系统文件
# =========================
.DS_Store
Thumbs.db

# =========================
# 日志
# =========================
logs/
*.log

# =========================
# 临时文件
# =========================
temp/
tmp/